.messageBox {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &.active {
    background: #f1f9fe;
    > :nth-child(2) {
      h4 {
        font-size: 17px;
      }
      p {
        color: rgba(101, 107, 129, 1);
      }
    }
  }
  &.notSeen {
    background: #f2f4f8;
  }
  //   height: 80px;
  > div {
    &.active {
      &.active {
        h4 {
          font-size: 30px;
        }
      }
      h4 {
        font-size: 30px;
      }
    }
    // width: 100%;
    height: 100%;
  }
  > :nth-child(1) {
    border-radius: 100%;
    margin-right: 10px;
    img {
      width: 50px;
      border-radius: 100%;
    }
  }
  > :nth-child(2) {
    width: 60%;
    flex-grow: 1;
    h4 {
      font-size: 14px;
      transition: all 0.3s ease-in-out;
      text-transform: capitalize;
    }
    p {
      font-size: 13px;
      color: rgba(101, 107, 129, 0.63);
    }
  }
  > :nth-child(3) {
    flex-grow: 1;
    font-size: 12px;
    text-align: right;
    p {
      color: rgba(101, 107, 129, 0.63);
      path {
        color: #f44336;
      }
    }
    .online {
      path {
        color: #8bc34a !important;
      }
    }
  }
  .checkboxpath {
    margin-top: 5px;
    color: rgba(101, 107, 129, 0.63);
    &.Seen {
      &::after {
        font-family: "Font Awesome\ 5 Free";
        content: "\f560";
        font-weight: 900;
      }
    }
    &.Reply {
      &::after {
        font-family: "Font Awesome\ 5 Free";
        content: "\f3e5";
        font-weight: 900;
      }
    }
    &.Sent {
      &::after {
        font-family: "Font Awesome\ 5 Free";
        content: "\f00c";
        font-weight: 900;
      }
    }
  }
}

.messageBox::before {
  content: "";
  position: absolute;
  width: 80%;
  border-bottom: 1px solid rgba(183, 195, 214, 0.3);
  bottom: 0;
  right: 0;
}
