.message {
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  // secondMessage
  &.secondMessage {
    margin-top: 10px;
    img {
      opacity: 0;
    }
    > .message-body {
      &::before {
        display: none;
      }
    }
  }
  // Mine
  &.mine {
    flex-direction: row-reverse;
    > .message-body {
      margin-right: 20px;
      margin-left: 0px !important;
      background: #dee3ee;

      &:before {
        content: "";
        left: calc(100% + 3px);
        transform: rotate(180deg);
        border-right: 15px solid #dee3ee;
      }
    }
  }
  &.mine.secondMessage {
    > .message-body {
      &::before {
        display: none;
      }
    }
  }
  img {
    border: 5px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  > .message-body {
    margin-left: 20px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 10px 0 #ccc;
    max-width: 60%;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: calc(50% - 15px);
      left: -15px;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;

      border-right: 15px solid #fff;
    }
    > :nth-child(2),
    :nth-child(3) {
      text-align: right;
      font-family: "Segoe UI", sans-serif;
      font-weight: 100;
      font-size: 10px;
      color: rgba(101, 107, 129, 0.5803921568627451);
    }
  }
  p {
    font-family: "Patrick Hand", sans-serif;
  }
}
