.login {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0%;
  color: #fff;
  > div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    > div {
      height: 100%;
      width: 50%;
    }
  }
  span {
    color: #fff;
  }
  path {
    color: #fff;
  }
  .head {
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #f9fafc;
    > div {
      width: 100%;
      height: 100%;
    }
    .background {
      background: #a680a1;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .title {
        position: absolute;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h1 {
          font-size: 50px;
          color: #fff;
        }
        h4 {
          color: #fff;
          font-weight: 400;
        }
        .technology {
          align-items: center;
          justify-content: center;
          font-size: 30px;
          .item {
            margin: 5px;
          }
        }
      }
      .ball {
        position: absolute;
        border-radius: 100%;
        opacity: 0.9;
        width: 200px;
        height: 200px;
        animation: ball 1s ease-in-out;
      }
      .ball-1 {
        transform: scale(3.4);
        top: -20%;
        left: -10%;
      }
      .color-1 {
        background: #fab334;
      }
      .color-2 {
        background: #1f3071;
      }
      .color-3 {
        background: #16b3cb;
      }
      .color-4 {
        background: #e54522;
      }
      .color-5 {
        background: #9c27b0;
      }
      .color-6 {
        background: #e91e63;
      }
      .color-7 {
        background: #8bc34a;
      }
      .ball-2 {
        transform: scale(4.4);
        bottom: -34%;
        left: -40%;
      }
      .ball-3 {
        transform: scale(3.4);
        top: 20%;
        left: 70%;
      }
      .ball-4 {
        transform: scale(2.4);
        top: 70%;
        left: 70%;
      }
      .ball-5 {
        transform: scale(2);
        top: -8%;
        left: 99%;
      }
      .ball-6 {
        transform: scale(1.8);
        top: 51%;
        left: 1%;
      }
      .ball-7 {
        transform: scale(2.4);
        top: 99%;
        left: 50%;
      }
      @keyframes ball {
        0% {
          width: 200px;
          height: 200px;
        }
        50% {
          width: 400px;
          height: 400px;
        }
        100% {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  .body {
    color: #373f5b;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    > :nth-child(1) {
      text-align: left;
    }
    h1 {
      font-size: 60px;
      background: linear-gradient(to right, #fab334, #e54522);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      color: #a0a4b1;
    }
    button {
      width: 100%;
      margin: 3px;
      border-radius: 3px;
      margin-bottom: 5px;
      padding: 0px;
      padding-left: 25px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      background: #2a4663;
      span {
        display: inline-flex;
      }
      svg {
        font-size: 20px;
      }
    }
    > :nth-child(3) {
      > :nth-child(2) {
        background-color: #3a5999;
      }
      > :nth-child(3) {
        background-color: #5aa4eb;
      }
      > :nth-child(4) {
        background-color: #cb4023;
      }
      > :nth-child(5) {
        background-color: #333333;
      }
    }
    > :nth-child(3):hover {
      button {
        filter: blur(5px);
        transform: scale(1);
      }
      button:hover {
        filter: blur(0px);
        transform: scale(1.2);
      }
    }
    > div {
      text-align: center;
      width: 60%;
    }
  }
}
@media only screen and (max-width: 600px) {
  .login {
    .body {
      height: 60%;
      > :nth-child(1),
      > :nth-child(2) {
        display: none;
      }
      > div {
        width: 90%;
      }
    }
    > div {
      flex-direction: row;
      > div {
        height: 60%;
        width: 100%;
      }
      > :nth-child(1) {
        height: 40%;
      }
    }
  }
}
