@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");
* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
}
*:not(i) {
  font-family: "Roboto", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  color: #656b81;
}
a {
  text-decoration: none;
}
.flex-container {
  display: flex;
}
.flex-inline-container {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-flow-column {
  flex-flow: column;
}
.flex-flow-column-reverse {
  flex-flow: column-reverse;
}
.flex-flow-row {
  flex-flow: row;
}
.flex-flow-row-reverse {
  flex-flow: row-reverse;
}
.flex-flow-wrap {
  flex-flow: wrap;
}

.flex-justify-content-start {
  justify-content: flex-start;
}
.flex-justify-content-end {
  justify-content: flex-end;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-space-between {
  justify-content: space-between;
}
.flex-justify-space-around {
  justify-content: space-around;
}
.flex-justify-space-evenly {
  justify-content: space-evenly;
}

.flex-align-item {
  align-items: stretch;
}
.flex-align-item-start {
  align-items: flex-start;
}
.flex-align-item-end {
  align-items: flex-end;
}
.flex-align-item-center {
  align-items: center;
}
.flex-align-item-baseline {
  align-items: baseline;
}

.flex-align-content-start {
  align-content: flex-start;
}
.flex-align-content-end {
  align-content: flex-end;
}
.flex-justify-center {
  align-content: center;
}
.flex-justify-space-between {
  align-content: space-between;
}
.flex-justify-space-around {
  align-content: space-around;
}
.flex-justify-space-evenly {
  align-content: space-evenly;
}

.flex-item {
  order: 1;
}
.flex-item-2 {
  order: 2;
}
.flex-item-3 {
  order: 3;
}
.flex-item-4 {
  order: 4;
}
.flex-item-5 {
  order: 5;
}
.flex-item-6 {
  order: 6;
}
.flex-item-7 {
  order: 7;
}
.flex-item-8 {
  order: 8;
}
.flex-item-9 {
  order: 9;
}
.flex-item-10 {
  order: 10;
}
.flex-item-11 {
  order: 11;
}
.flex-item-12 {
  order: 12;
}

.flex-grow {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-3 {
  flex-grow: 3;
}
.flex-grow-4 {
  flex-grow: 4;
}
.flex-grow-5 {
  flex-grow: 5;
}

.flex-shrink {
  flex-shrink: 1;
}
.flex-shrink-2 {
  flex-shrink: 2;
}
.flex-shrink-3 {
  flex-shrink: 3;
}
.flex-shrink-4 {
  flex-shrink: 4;
}
.flex-shrink-5 {
  flex-shrink: 5;
}

.flex-basis {
  flex-basis: auto;
}
.flex-basis-1 {
  flex-basis: 1;
}
.flex-basis-2 {
  flex-basis: 2;
}
.flex-basis-3 {
  flex-basis: 3;
}
.flex-basis-4 {
  flex-basis: 4;
}

.flex-align-self {
  align-self: auto;
}
.flex-align-self-start {
  align-self: flex-start;
}
.flex-align-self-end {
  align-self: flex-end;
}
.flex-align-self-center {
  align-self: flex-end;
}
.flex-align-self-baseline {
  align-self: baseline;
}
.flex-align-self-stretch {
  align-self: stretch;
}

.flex-container {
  display: flex;
}
.item {
  order: 1;
}
.btn {
  position: relative;

  display: block;

  overflow: hidden;
  padding: 10px;
  border-width: 0;
  outline: none;
  border-radius: 100px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  background-color: #6faee0;
  color: #f9fafc;
  transition: all 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: #6faee0;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
.btn:disabled {
  cursor: not-allowed;
  text-decoration: line-through;
  background-color: #000 !important;
  color: #fff;
}
.btn.primary {
  background-color: #ffd460;
}

.btn.primary:hover,
.btn.primary:focus {
  background-color: #ffe6a8;
}
.d-none {
  display: none;
}

#routing {
  transition: all ease-in-out 0.5s;
}

#routing > div.inActive {
  filter: blur(8px);
}
